body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sIXTVyRVdM .navbar-dropdown {
  position: relative !important;
}
.cid-sIXTVyRVdM .navbar-dropdown {
  position: absolute !important;
}
.cid-sIXTVyRVdM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIXTVyRVdM .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sIXTVyRVdM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sIXTVyRVdM .dropdown-item:hover,
.cid-sIXTVyRVdM .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sIXTVyRVdM .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sIXTVyRVdM .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sIXTVyRVdM .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sIXTVyRVdM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIXTVyRVdM .nav-link {
  position: relative;
}
.cid-sIXTVyRVdM .container {
  display: flex;
  margin: auto;
}
.cid-sIXTVyRVdM .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIXTVyRVdM .dropdown-menu,
.cid-sIXTVyRVdM .navbar.opened {
  background: #ffffff !important;
}
.cid-sIXTVyRVdM .nav-item:focus,
.cid-sIXTVyRVdM .nav-link:focus {
  outline: none;
}
.cid-sIXTVyRVdM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIXTVyRVdM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIXTVyRVdM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIXTVyRVdM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIXTVyRVdM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIXTVyRVdM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIXTVyRVdM .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.7);
}
.cid-sIXTVyRVdM .navbar.opened {
  transition: all 0.3s;
}
.cid-sIXTVyRVdM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIXTVyRVdM .navbar .navbar-logo img {
  width: auto;
}
.cid-sIXTVyRVdM .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIXTVyRVdM .navbar.collapsed {
  justify-content: center;
}
.cid-sIXTVyRVdM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIXTVyRVdM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sIXTVyRVdM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.8rem);
  }
}
.cid-sIXTVyRVdM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIXTVyRVdM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIXTVyRVdM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIXTVyRVdM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIXTVyRVdM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIXTVyRVdM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIXTVyRVdM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIXTVyRVdM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIXTVyRVdM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIXTVyRVdM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIXTVyRVdM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIXTVyRVdM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIXTVyRVdM .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIXTVyRVdM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIXTVyRVdM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIXTVyRVdM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIXTVyRVdM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIXTVyRVdM .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIXTVyRVdM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIXTVyRVdM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIXTVyRVdM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIXTVyRVdM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIXTVyRVdM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIXTVyRVdM .dropdown-item.active,
.cid-sIXTVyRVdM .dropdown-item:active {
  background-color: transparent;
}
.cid-sIXTVyRVdM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIXTVyRVdM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIXTVyRVdM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIXTVyRVdM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sIXTVyRVdM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIXTVyRVdM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIXTVyRVdM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIXTVyRVdM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIXTVyRVdM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIXTVyRVdM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sIXTVyRVdM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIXTVyRVdM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIXTVyRVdM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIXTVyRVdM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIXTVyRVdM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIXTVyRVdM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIXTVyRVdM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIXTVyRVdM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIXTVyRVdM .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sIXTVyRVdM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIXTVyRVdM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIXTVyRVdM .navbar {
    height: 70px;
  }
  .cid-sIXTVyRVdM .navbar.opened {
    height: auto;
  }
  .cid-sIXTVyRVdM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIXUkfgmXJ {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-sIXUkfgmXJ .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-sIXUkfgmXJ img,
.cid-sIXUkfgmXJ .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sIXUkfgmXJ .item:focus,
.cid-sIXUkfgmXJ span:focus {
  outline: none;
}
.cid-sIXUkfgmXJ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sIXUkfgmXJ .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sIXUkfgmXJ .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sIXUkfgmXJ .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sIXUkfgmXJ .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sIXUkfgmXJ .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sIXUkfgmXJ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sIXUkfgmXJ .mbr-section-title {
  color: #000000;
}
.cid-sIXUkfgmXJ .mbr-text,
.cid-sIXUkfgmXJ .mbr-section-btn {
  text-align: left;
}
.cid-sIXUkfgmXJ .item-title {
  text-align: left;
}
.cid-sIXUkfgmXJ .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-sIXUBQmSit {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sIXUBQmSit .carousel {
    min-height: 700px;
  }
  .cid-sIXUBQmSit .carousel img {
    max-height: 700px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sIXUBQmSit .carousel {
    min-height: 455px;
  }
  .cid-sIXUBQmSit .carousel img {
    max-height: 455px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sIXUBQmSit .carousel {
    min-height: 385px;
  }
  .cid-sIXUBQmSit .carousel img {
    max-height: 385px;
    object-fit: contain;
  }
  .cid-sIXUBQmSit .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sIXUBQmSit .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sIXUBQmSit .carousel,
.cid-sIXUBQmSit .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sIXUBQmSit .item-wrapper {
  width: 100%;
}
.cid-sIXUBQmSit .carousel-caption {
  bottom: 40px;
}
.cid-sIXUBQmSit .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sIXUBQmSit .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sIXUBQmSit .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sIXUBQmSit .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sIXUBQmSit .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sIXUBQmSit .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sIXUBQmSit .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sIXUBQmSit .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sIXUBQmSit .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sIXUBQmSit .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sIXUBQmSit .carousel-indicators li.active,
.cid-sIXUBQmSit .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sIXUBQmSit .carousel-indicators li::after,
.cid-sIXUBQmSit .carousel-indicators li::before {
  content: none;
}
.cid-sIXUBQmSit .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sIXUBQmSit .carousel-indicators {
    display: none !important;
  }
}
.cid-sIXUtQQIVY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sIXUtQQIVY .row {
  align-items: stretch;
  justify-content: center;
}
.cid-sIXUtQQIVY .img-item {
  position: relative;
}
.cid-sIXUtQQIVY .img-item img {
  width: 100%;
  object-fit: cover;
}
.cid-sIXUtQQIVY .img-item .img-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: .5rem 1rem .5rem;
  word-break: break-word;
}
.cid-sIXUtQQIVY .img-item .img-description p {
  margin-bottom: 0;
}
.cid-sIXUHFRILB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-sIXUHFRILB .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sIXUHFRILB .team-card:hover {
  transform: translateY(-10px);
}
.cid-sIXUHFRILB .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-sIXUHFRILB .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-sIXUHFRILB .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-sIXUHFRILB .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sIXUHFRILB .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-sIXUHFRILB .social-row {
  text-align: center;
}
.cid-sIXUHFRILB .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sIXUHFRILB .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-sIXUHFRILB .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sIXUHFRILB .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sIXUPjirGv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sIXUPjirGv .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-sIXUPjirGv .bg-facebook:hover {
  background: #0b60cb;
}
.cid-sIXUPjirGv .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-sIXUPjirGv .bg-twitter:hover {
  background: #0c85d0;
}
.cid-sIXUPjirGv .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-sIXUPjirGv .bg-instagram:hover {
  background: #bd005c;
}
.cid-sIXUPjirGv .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-sIXUPjirGv [class^="socicon-"]:before,
.cid-sIXUPjirGv [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-sIXV1gYOiu {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffb5b5;
}
@media (min-width: 991px) {
  .cid-sIXV1gYOiu .container-fluid {
    padding-left: 0;
  }
}
.cid-sIXV1gYOiu .mbr-text,
.cid-sIXV1gYOiu .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-sIXV1gYOiu .mbr-text,
  .cid-sIXV1gYOiu .mbr-section-btn {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-sIXV1gYOiu .mbr-text,
  .cid-sIXV1gYOiu .mbr-section-title {
    text-align: center;
  }
}
.cid-sIXV1gYOiu a.btn {
  height: 100%;
  margin: 0;
}
.cid-sIXV1gYOiu .mbr-section-btn {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.cid-sIXV1gYOiu .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-sIXV1gYOiu .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sIXV1gYOiu .justify-content-center {
  align-items: center;
}
.cid-sIXVbu2oKB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sIXVbu2oKB img,
.cid-sIXVbu2oKB .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sIXVbu2oKB .item:focus,
.cid-sIXVbu2oKB span:focus {
  outline: none;
}
.cid-sIXVbu2oKB .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sIXVbu2oKB .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sIXVbu2oKB .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sIXVbu2oKB .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sIXVbu2oKB .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sIXVbu2oKB .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sIXVbu2oKB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sIXVbu2oKB .mbr-section-title {
  color: #232323;
}
.cid-sIXVbu2oKB .mbr-text,
.cid-sIXVbu2oKB .mbr-section-btn {
  text-align: left;
}
.cid-sIXVbu2oKB .item-title {
  text-align: left;
}
.cid-sIXVbu2oKB .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-sIXVfOEfYn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sIXVfOEfYn .timeline-element {
  position: relative;
}
.cid-sIXVfOEfYn .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sIXVfOEfYn .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-sIXVfOEfYn .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sIXVfOEfYn .iconBackground {
    left: 50%;
  }
}
.cid-sIXVfOEfYn .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-sIXVfOEfYn .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sIXVfOEfYn .row:after {
    left: 50%;
  }
}
.cid-sIXVfOEfYn .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-sIXVfOEfYn .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-sIXVfOEfYn .timeline-date-wrapper,
  .cid-sIXVfOEfYn .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-sIXVfOEfYn .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sIXVfOEfYn .timeline-date-wrapper,
  .cid-sIXVfOEfYn .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sIXVfOEfYn .timeline-date-wrapper,
  .cid-sIXVfOEfYn .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-sIXVp10QzD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sIXVp10QzD .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-sIXVp10QzD .panel-group {
  border: none;
}
.cid-sIXVp10QzD .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sIXVp10QzD .panel-body,
.cid-sIXVp10QzD .card-header {
  padding: 1rem 0;
}
.cid-sIXVp10QzD .panel-title-edit {
  color: #000000;
}
.cid-sIXVp10QzD .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sIXVCxXVFy {
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sIXVCxXVFy .number-wrap {
  color: #232323;
  text-align: center;
}
.cid-sIXVCxXVFy .number {
  color: #232323;
}
.cid-sIXVCxXVFy .period {
  display: block;
}
.cid-sIXVCxXVFy .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-sIXVCxXVFy .period {
    font-size: 0.8rem;
  }
}
.cid-sIXVCxXVFy .btn {
  height: 100%;
  margin: 0;
}
.cid-sIXVCxXVFy .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-sIY6g85f6y {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .content {
    text-align: center;
  }
  .cid-sIY6g85f6y .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-sIY6g85f6y .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sIY6g85f6y .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-sIY6g85f6y .google-map {
  height: 25rem;
  position: relative;
}
.cid-sIY6g85f6y .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sIY6g85f6y .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sIY6g85f6y .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sIY6g85f6y .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sIY6g85f6y .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sIY6g85f6y .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-sIY6g85f6y .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-sIY6g85f6y .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sIY6g85f6y .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sIY6g85f6y .list {
  list-style-type: none;
  padding: 0;
}
.cid-sIYbYVgqqd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sIYbYVgqqd .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sIYbYVgqqd .row {
  flex-direction: row-reverse;
}
.cid-sIYbYVgqqd img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sIYbYVgqqd .text-wrapper {
    padding: 2rem;
  }
}
.cid-sIY0qyguHF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sIY0qyguHF blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-sIXZuPbr7g .navbar-dropdown {
  position: relative !important;
}
.cid-sIXZuPbr7g .navbar-dropdown {
  position: absolute !important;
}
.cid-sIXZuPbr7g .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIXZuPbr7g .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sIXZuPbr7g .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sIXZuPbr7g .dropdown-item:hover,
.cid-sIXZuPbr7g .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sIXZuPbr7g .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sIXZuPbr7g .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sIXZuPbr7g .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sIXZuPbr7g .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIXZuPbr7g .nav-link {
  position: relative;
}
.cid-sIXZuPbr7g .container {
  display: flex;
  margin: auto;
}
.cid-sIXZuPbr7g .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIXZuPbr7g .dropdown-menu,
.cid-sIXZuPbr7g .navbar.opened {
  background: #ffffff !important;
}
.cid-sIXZuPbr7g .nav-item:focus,
.cid-sIXZuPbr7g .nav-link:focus {
  outline: none;
}
.cid-sIXZuPbr7g .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIXZuPbr7g .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIXZuPbr7g .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIXZuPbr7g .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIXZuPbr7g .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIXZuPbr7g .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIXZuPbr7g .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.7);
}
.cid-sIXZuPbr7g .navbar.opened {
  transition: all 0.3s;
}
.cid-sIXZuPbr7g .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIXZuPbr7g .navbar .navbar-logo img {
  width: auto;
}
.cid-sIXZuPbr7g .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIXZuPbr7g .navbar.collapsed {
  justify-content: center;
}
.cid-sIXZuPbr7g .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIXZuPbr7g .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sIXZuPbr7g .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.8rem);
  }
}
.cid-sIXZuPbr7g .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIXZuPbr7g .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIXZuPbr7g .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIXZuPbr7g .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIXZuPbr7g .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIXZuPbr7g .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIXZuPbr7g .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIXZuPbr7g .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIXZuPbr7g .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIXZuPbr7g .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIXZuPbr7g .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIXZuPbr7g .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIXZuPbr7g .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIXZuPbr7g .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIXZuPbr7g .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIXZuPbr7g .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIXZuPbr7g .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIXZuPbr7g .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIXZuPbr7g .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIXZuPbr7g .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIXZuPbr7g .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIXZuPbr7g .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIXZuPbr7g .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIXZuPbr7g .dropdown-item.active,
.cid-sIXZuPbr7g .dropdown-item:active {
  background-color: transparent;
}
.cid-sIXZuPbr7g .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIXZuPbr7g .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIXZuPbr7g .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIXZuPbr7g .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sIXZuPbr7g .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIXZuPbr7g .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIXZuPbr7g ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIXZuPbr7g .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIXZuPbr7g button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIXZuPbr7g button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sIXZuPbr7g button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIXZuPbr7g button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIXZuPbr7g button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIXZuPbr7g button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIXZuPbr7g nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIXZuPbr7g nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIXZuPbr7g nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIXZuPbr7g nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIXZuPbr7g .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sIXZuPbr7g a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIXZuPbr7g .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIXZuPbr7g .navbar {
    height: 70px;
  }
  .cid-sIXZuPbr7g .navbar.opened {
    height: auto;
  }
  .cid-sIXZuPbr7g .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIXZuXZgMv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
@media (min-width: 991px) {
  .cid-sIXZuXZgMv .container-fluid {
    padding-left: 0;
  }
}
.cid-sIXZuXZgMv .mbr-text,
.cid-sIXZuXZgMv .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-sIXZuXZgMv .mbr-text,
  .cid-sIXZuXZgMv .mbr-section-btn {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-sIXZuXZgMv .mbr-text,
  .cid-sIXZuXZgMv .mbr-section-title {
    text-align: center;
  }
}
.cid-sIXZuXZgMv a.btn {
  height: 100%;
  margin: 0;
}
.cid-sIXZuXZgMv .mbr-section-btn {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.cid-sIXZuXZgMv .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-sIXZuXZgMv .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sIXZuXZgMv .justify-content-center {
  align-items: center;
}
.cid-sIXZv10qe2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sIXZv10qe2 .timeline-element {
  position: relative;
}
.cid-sIXZv10qe2 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sIXZv10qe2 .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-sIXZv10qe2 .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sIXZv10qe2 .iconBackground {
    left: 50%;
  }
}
.cid-sIXZv10qe2 .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-sIXZv10qe2 .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sIXZv10qe2 .row:after {
    left: 50%;
  }
}
.cid-sIXZv10qe2 .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-sIXZv10qe2 .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-sIXZv10qe2 .timeline-date-wrapper,
  .cid-sIXZv10qe2 .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-sIXZv10qe2 .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sIXZv10qe2 .timeline-date-wrapper,
  .cid-sIXZv10qe2 .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sIXZv10qe2 .timeline-date-wrapper,
  .cid-sIXZv10qe2 .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-sIXZv2ORXk {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sIXZv2ORXk .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-sIXZv2ORXk .panel-group {
  border: none;
}
.cid-sIXZv2ORXk .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sIXZv2ORXk .panel-body,
.cid-sIXZv2ORXk .card-header {
  padding: 1rem 0;
}
.cid-sIXZv2ORXk .panel-title-edit {
  color: #000000;
}
.cid-sIXZv2ORXk .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sIXZv3TtHw {
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sIXZv3TtHw .number-wrap {
  color: #232323;
  text-align: center;
}
.cid-sIXZv3TtHw .number {
  color: #232323;
}
.cid-sIXZv3TtHw .period {
  display: block;
}
.cid-sIXZv3TtHw .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-sIXZv3TtHw .period {
    font-size: 0.8rem;
  }
}
.cid-sIXZv3TtHw .btn {
  height: 100%;
  margin: 0;
}
.cid-sIXZv3TtHw .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-sIY6g85f6y {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .content {
    text-align: center;
  }
  .cid-sIY6g85f6y .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-sIY6g85f6y .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sIY6g85f6y .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-sIY6g85f6y .google-map {
  height: 25rem;
  position: relative;
}
.cid-sIY6g85f6y .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sIY6g85f6y .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sIY6g85f6y .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sIY6g85f6y .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sIY6g85f6y .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sIY6g85f6y .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-sIY6g85f6y .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-sIY6g85f6y .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sIY6g85f6y .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sIY6g85f6y .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sIY6g85f6y .list {
  list-style-type: none;
  padding: 0;
}
